@import "normalize.css";

@font-face {
    font-family: "AGaramondPro-Regular";
    src: url("../../assets/fonts/AGaramondPro-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.gara {
  font-family: "AGaramondPro-Regular";
}

.helvetica {
  font-family: Helvetica;
}

body {
  box-sizing: border-box;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 1.15rem;
}

.red {
  color: #de121f;
}

header {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.4rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  left: 0;
  right: 0;
  padding-top: 30px;
  position: absolute;
}

.jolie {
  height: 250px;
  margin-top: 5%;
  margin-right: 10px;
}

.pitt {
  height: 250px;
  margin-top: 5%;
  margin-left: 7px;
}

.one {
  float: left;
  padding-top: 3%;
}

.two {
  float: right;
  padding-top: 3%;
}

.main-content {
  padding-top: 300px;
  margin-left: 5%;
  margin-right: 5%;
}

.gunfight {
  width: 100%;
  display: flex;
}

.image {
  display: flex;
}

.rating {
  font-size: 1.4rem;
}

.italic {
  font-style: italic;
}

@media (min-width: 500px) {

  .jolie {
    height: 50vh;
  }

  .one {
    height: 2300px;
  }

  .pitt {
    height: 50vh;
  }

  .two {
    height: 2300px;
  }

  .title {
    font-size: 2.8rem;
  }

  .main-content {
    padding-top: 20%;
    margin-left: 23%;
    margin-right: 23%;
  }

}

@media (min-width: 650px) {

  .jolie {
    height: 70vh;
  }

  .pitt {
    height: 70vh;
  }

  .title {
    font-size: 3.5rem;
  }

  .main-content {
    padding-top: 18%;
  }
}

@media (min-width: 800px) {

  .jolie {
    height: 88vh;
  }

  .pitt {
    height: 88vh;
  }

  .title {
    font-size: 4.5rem;
  }

  .main-content {
    padding-top: 15%;
  }
}
